@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url("http://fonts.googleapis.com/earlyaccess/droidarabickufi.css");

html {
    font-family:"Droid Arabic Kufi", "Droid Sans", sans-serif;
    font-size:14px;
    background-image: url(../Images/div.jpg);


    }
* {
    margin: 0px;
    padding: 0;
}

header {
    color: white;
    height: 18%;
    width: 100%;
    z-index: 10;
    position: fixed;
    font-weight: 100;
}

.header-logo {
    font-size: 10px;
    float: left;
    padding-left: 30px;
    padding-top: 0px;

}

#logo {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 300px;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Droid Arabic Kufi', serif;
    line-height: 30px;
    margin-bottom: 10px;
}

#logo > a > img {
    width: 70%;
}

#nav {
    direction:rtl;
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Droid Arabic Kufi', serif;
    line-height: 50px;
}

#nav img {
    width: 150px;
    padding-left: 20px;
    padding-top: 10px;
    top: 0%;
}

#nav .header-list {
    flex: 1;
    text-align: right;
}

.header-list ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 15px;
    position: relative;
}

.header-list ul li a {
    color: rgb(240, 73, 73);
    font-size: 24px;
    text-decoration: none;
    font-family: 'Droid Arabic Kufi', serif;
}

.header-list ul li::after {
    content: "";
    height: 2px;
    background: #cd5c5c;
    display: block;
    margin: auto;
    transition: 0.5s;
    width: 0%;
}

.header-list ul li:hover::after {
    width: 100%;
}

.header-logo > img {
    width: 70%;
}


.des{
    font-size: 24px;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.box {
    /* width: 500px; */
    padding-top: 2%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}


.box h2 {
    color: #f6e0e0;
    background: #f55c5c;
    padding: 14px 19px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Droid Arabic Kufi', serif;
    text-align: center;
}
.box h2:hover {

    background: #e70d0d;


}

div.container{
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.box .des li span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #DB7093;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
}

.box .des li:hover span {
    background: #fff;
    color: #DB7093;
}

main {
    background: url(../Images/div.jpg);
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid #fff;
    padding: 12px 29px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 15vh;
    letter-spacing: 4px;
    height: 8vh;
    font-family: 'Patrick Hand SC', cursive;
}

.text-box {
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: 'Droid Arabic Kufi', serif;
    border: none;

}



.hero-btn:hover {
    border: 2px solid #DC143C;
    background: #DC143C;
    transition: 1s;
    color: #fff;
    width: 88%;
}



/*Footer*/
.sec {
    border-top-left-radius: 40px;
    background: black;
    margin-top: 2%;
    color: #FFB6C1 ;
    height: 200px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.footer-head {
    display: flex;
    justify-content: space-around;
    padding-top: 4vh;
}

.bout p{
    font-size: 18px;
    color: white;
    font-weight: 100;
}
.bout {
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    padding-top: 1vh;
}

.form-control:focus {
    border-color: #FFB6C1;
    box-shadow: none;
}

.head {
    padding-left: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.head:hover{
    color: white;
}


     /*Footer*/

     footer {
        position: relative;
        top: 100px;
        left: 0;
        right: 0;
        background: #111;
        height: fit-content;
        width: 100%;
        color: #fff;
        /*padding: 5px 0px 5px 0px;*/
    }

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

    }

    .footer-content h3 {
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 3rem;
        font-family: 'Raleway', sans-serif;
        color: rgb(207, 205, 205);
    }

    .footer-content p {
        max-width: fit-content;
        margin: 0px 0px 0px 0px;
        margin-top: 3px;
        margin-bottom: 12px;
        line-height: 28px;
        font-size: 20px;
        color: #999999;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .footer-bottom {
        background: #000;
        width: 100vw;
        padding: 20px;
        padding-bottom: 40px;
        text-align: center;
    }

    .footer-bottom p {
        float: left;
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }

    .footer-bottom p a {
        color: #44bae8;
        font-size: 16px;
        text-decoration: none;
    }

    .footer-bottom span {
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }

    .footer-menu {
        float: right;
    }

    .footer-menu ul {
        display: flex;
    }

    .footer-menu ul li {
        padding-right: 10px;
        display: block;
    }

    .footer-menu ul li a {
        color: #cfd2d6;
        text-decoration: none;
    }

    .footer-menu ul li a:hover {
        color: #27bcda;
    }

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .sci li {
        float: right;
        text-decoration: none;
        list-style: none;
        padding-right: 40px;
        font-size: 30px;
    }

    .socials {
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
    }

    .sci li a {
        color: white;
    }

    .sci li a:hover {
        transform: translateY(-20px);
        box-shadow: inset-1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 10px rgba(0, 0, 0, 0.1);
    }

    .sci li:nth-child(1) a:hover {
        color: #3b5998;
        transform: translateY(-20px);
    }

    .sci li:nth-child(2) a:hover {
        color: rgba(188, 42, 141);
        transform: translateY(-20px);
    }

    .sci li:nth-child(3) a:hover {
        color: #F0E68C;
        transform: translateY(-20px);
    }

    .siteFooterBar {
        position: absolute;
        bottom: 0;
        padding-top: 10px;
        width: 100%;
        box-shadow: 0px 0px 25px rgb(12, 12, 12);
        height: 20px;
        color: #9B9B9B;
        background: #070707;
    }

    .content1 {
        display: contents;
        margin: 0px auto;
        text-align: center;
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        width: 250px;

    }
    .content1 .foot{
        margin-top: -7px;
    }

    @media (max-width:500px) {
        .footer-menu ul {
            display: flex;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .sci li {
            padding-right: 15px;
            font-size: 25px;
        }
    }

    @media screen and (max-width: 360px) {
        .sci li {
            padding-right: 7px;
            font-size: 20px;
        }
    }



@media screen and (max-width: 500px) {
    .head {
        padding-left: 15px;
        font-size: 30px;
        font-weight: 550;
    }

    .sci li {
        padding-right: 15px;
        font-size: 25px;
    }
}

@media screen and (max-width: 360px) {
    .head {
        padding-left: 7px;
        font-size: 25px;
    }

    .sci li {
        padding-right: 7px;
        font-size: 20px;
    }

    .bout p {
        font-size: 18px;
    }

    .bout {
        padding-left: 2px;
        padding-right: 2px;
    }
}
main {
	padding: 20px;
}

form {
	background-color: #f8d7da;
	padding: 20px;
	border-radius: 10px;
	max-width: 500px;
	margin: 0 auto;
}

h2 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #dc3545;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #dc3545;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], select {
    direction:rtl;
	padding: 7px;
	border-radius: 8px;
	border: 2px solid #dc3545;
	margin-bottom: 10px;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
select:focus {
	border-color: #dc3545;
    outline: 2px solid red;
}
input:focus {

}

.form-select{
    text-align: center;

    padding: 7px;
    border-radius: 8px;
    border: 2px solid #dc3545;
    margin-bottom: 10px;
    width: 100%;
}
.form-select:focus{
    border-color: #dc3545;
    outline: 2px solid red;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

button[type="submit"] {
	background-color: #f55c5c;

	color: white;
	border: none;
	padding: 10px 20px;
    width: 100%;
	cursor: pointer;
    font-family: 'Droid Arabic Kufi', serif;

	border-radius: 5px;
}

button[type="submit"]:hover {
	background-color: #fc1c2c;
    color: #f3f3f3;
}

.form-control::placeholder{
    font-family: 'Droid Arabic Kufi', serif;
    font-size: 1.25rem;

}
.form-select{
    font-family: 'Droid Arabic Kufi', serif;
    font-size: 1.25rem;
}
.invalid-feedback{
    font-family: 'Droid Arabic Kufi', serif;
    font-size: 1rem;
    direction: rtl;
}
.login-form{
    margin-top: 50px;
    width: 450px;
}
